{% extends "base.html" %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis laboriosam at rem nobis enim aspernatur molestiae provident architecto odit natus, alias ipsum veniam? Consequuntur, nam suscipit sint perspiciatis ex quo ad rem maxime provident explicabo distinctio, labore reprehenderit ipsam laborum tenetur quos odit nobis eligendi neque quis. Laudantium accusamus aut ratione repellat sapiente nemo dolores, dolor obcaecati! Amet numquam laboriosam eaque odio nihil. Tempore voluptatum ipsa et quasi iure laboriosam esse commodi repellat. Repellendus libero eius dicta nemo expedita laboriosam doloribus dolores ut laborum aliquam corporis maxime est at repudiandae impedit adipisci maiores magni optio, voluptas nihil culpa! Eius, voluptate!</p>
{% endblock %}